{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}
  <h1>Aneeqa boutique</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sunt? Veniam quisquam repellat tenetur ut dolorum quae cum? Ipsum ad excepturi architecto autem provident molestias inventore corporis atque vero rem. </p>	
 <img src="https://sp.yimg.com/ib/th?id=OPE.Vxa%2bnUeg3w86tA300C300&pid=21.1&w=&h=" alt="">
{% endblock %}
